body{
    margin: 0%;
    padding: 0%;

}
.logo{
    width: 30%;
    height: 100px;
}
.logo img{
    width: 30%;
    height: 100px;
}
nav{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
 .links a {
    margin: 5px;
    text-decoration: none;
    color: black;
}
.text{
    text-align: center;
    color: white;
}
.container{
    background-image: url(Images/WhatsApp\ Image\ 2026-02-19\ at\ 1.12.23\ AM\ \(2\).jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}